/* –––– General Fonts –––– */

body {
    font-family: "Nunito Sans", "Arial", "sans serif";
    size:16px;
  }

h1, h2{  
  font-family: "Raleway", "Helvetica", "sans serif";
  font-weight: 300;
  margin:0;
}

h1{
  font-size: 3.5rem;
}

h2{
  font-size: 2.5rem;
}

.material-icons{
  position:relative;
  top:5px;
}

/* ––––– Page Spacing –––––– */

.container{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

p, dl{
  margin-top: 0;
  margin-bottom: 1rem;
}

header h1{
  margin: 0;
}
/* double check */

/* –––– Nav Bar –––– */

nav{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #2C96BF;
  padding: .5rem;
  padding-bottom: 1rem;
  color: white;
  
}

nav li{
  display: inline;
}

nav,ul{
  padding: 0;
}

nav ul li{
  margin: 0rem 1rem;
}
nav a:link{
  text-decoration: none;
  color: black;
}

nav a:hover{
  color: #F0F0F0;
  border-bottom: .8rem solid;
  transition: .25s ease-out;
}

/* –––– Header –––– */

header{
  color: white;
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-image: url("../img/paul-gilmore-145802-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-color: #0084Af;
}

header .motto {
  font-style: italic;
  font-size: 1.25rem;
}

/* –––– Menu –––– */

#menu{
  background-color: #f0f0f0;
  line-height: 1.5;
}

main dl dt{
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
}

main dl dd{
  margin: 0;
}

main img{
  height: 200px;
  border-radius: 15px;
}

/* About */

#about{
  background-color: #e0e0e0;
  line-height: 1.5;
}

/* Footer */

footer{
  color: white;
  background-color: #3E1305;
}

footer div p{
  margin:0;
  line-height: 1.25;
}

footer a:link{
  color: white;
  text-decoration: none;
}

footer div p:last-child{
  padding-top: 8px;
}